.codex-editor {
  width: 100%;
  min-height: 300px;
  background: var(--editor-bg);
  padding: 2.3rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  font-family: var(--font-fa), var(--font-en), sans-serif;
  color: var(--editor-text);
  line-height: 1.6;
  overflow-wrap: break-word;
}

/* مخفی کردن دکمه‌های اضافی */
.ce-toolbar__plus {
  width: 30px;
  height: 30px;
}

.ce-toolbar__actions {
  padding-left: 10px;
}

/* بلاک‌ها */
.ce-block,
.ce-paragraph,
.ce-header {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-fa), var(--font-en), sans-serif;
  color: var(--editor-text);
  transition: background 0.2s;
  border-radius: var(--border-radius);
}

/* hover بلاک‌ها */
.ce-block:hover {
  background: rgba(255, 255, 255, 0.03);
}

/* محتوای داخلی بلاک */
.ce-block__content,
.ce-block__content > * {
  margin: 0;
  padding: 0;
  width: 100% !important;
  box-sizing: border-box;
}

.ce-block__content {
  width: 100% !important;
  max-width: unset !important;
}

/* contenteditable */
[contenteditable="true"] {
  outline: none;
  padding: 2px 0;
  min-height: 22px;
  width: 100%;
}

/* placeholder */
.ce-paragraph.ce-paragraph__placeholder {
  color: var(--editor-placeholder);
}

/* فاصله بین بلاک‌ها */
.ce-block + .ce-block {
  margin-top: var(--block-spacing);
}

/* راست‌چین و چپ‌چین */
.ce-block.rtl,
.ce-paragraph.rtl,
.ce-header.rtl {
  direction: rtl;
  text-align: right;
  font-family: var(--font-fa);
}

.ce-block.ltr,
.ce-paragraph.ltr,
.ce-header.ltr {
  direction: ltr;
  text-align: left;
  font-family: var(--font-en);
}

/* کلاس hug: بچسبد به لبه‌ها */
.ce-block.hug,
.ce-paragraph.hug,
.ce-header.hug {
  margin: 0;
  padding: 0;
}

/* ریسپانسیو */
@media (max-width: 768px) {
  .codex-editor {
    padding: 8px;
  }

  .ce-toolbar__settings-btn {
    width: 30px;
    height: 30px;
  }

  .ce-toolbar__settings-btn svg {
    width: 20px;
    height: 20px;
  }
}

/* اصلاح رنگ selection */
.codex-editor ::selection,
.codex-editor ::-moz-selection {
  background-color: #4a90e2; /* رنگ پس‌زمینه انتخاب (مثلاً آبی روشن) */
  color: #ffffff; /* رنگ متن هنگام انتخاب */
}

.cdx-marker {
  background: #e91e626f !important;
  padding: 3px 0;
  color: white;
}
